body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100vw - 34px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: teal;
}

a:hover {
  color: teal;
  filter: brightness(60%);
}

.nav-title {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  align-self: flex-start;
}

.name-header {
  margin-left: 8px;
}

.avatar-label {
  margin-top: 3px !important;
  margin-left: 0px !important;
}

.avatar-image:hover {
  cursor: pointer;
}

.avatar-preview {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  .edit-btn {
    padding: 5px !important;
  }

  .delete-btn {
    padding: 5px !important;
  }
}
