body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100vw - 34px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-bottom: 2em;
}

a {
  color: teal;
}

a:hover {
  color: teal;
  filter: brightness(60%);
}

.nav-title {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  align-self: flex-start;
}

.navbar-menu {
  padding: 0.5em !important;
}

.name-header {
  margin-left: 8px;
}

.search-card {
  margin-bottom: 1em !important;
}

.contacts-display {
  margin-top: 20px;
}

.modal {
  padding: 10px;
}

.avatar-label {
  margin-top: 3px !important;
  margin-left: 0px !important;
}

.avatar-image:hover {
  cursor: pointer;
}

.avatar-preview {
  margin: 0 auto;
}

.upload-preview {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.clear-preview-btn {
  margin-top: 0.3em !important;
}

.card-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.contact-edit-btn {
  margin-right: 1em !important;
}

.edit-btn .icon {
  color: #49769c !important;
}

.delete-btn .icon {
  color: #db2828 !important;
}

.login-reg-card {
  padding-left: 14em !important;
  padding-right: 14em !important;
  padding-bottom: 2em !important;
}

.main-text {
  margin-top: 3em !important;
}

.auth-form {
  margin-bottom: 2em;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  .edit-btn {
    padding: 5px !important;
  }

  .delete-btn {
    padding: 5px !important;
  }

  .contact-edit-btn {
    padding: 8px !important;
  }

  .contact-del-btn {
    padding: 8px !important;
  }

  .login-reg-card {
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
  }

  .login-reg-bottom-text {
    margin-top: 4em !important;
  }
}
